
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #f6eee9;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FE5D2C;
    font-weight: bolder;
    font-size: 3vh;
    margin: 4vh;
}