
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.links{
    display: flex;
    flex-direction: column;
}


.h1Name{
    color: #FE5D2C;
    margin-right: 7vh;
    margin-left: 7vh;
    font-size: 1rem;
}
.link {
    display: flex;
    justify-content: center;
    margin-right: 7vh;
    margin-left: 7vh;
    text-decoration: none;
    color: #FE5D2C;
    font-weight: bolder;
    font-size: 1.3rem;
}