@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Karla&display=swap');

.h1alternance{
    color: black;
    font-size: 3rem;
    margin-left: 6vh;
}

.homePage{
    width: 30%;
    margin: 6vh;
    display: flex;
    justify-content: flex-end;

}
.entreprise {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Start from the middle of the image */
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    margin-top: -15%; /* Adjust this value based on the image height */
    padding-left: 6vh; /* Adjust this value to match the margin-left of h1alternance */
    border-radius: 10px;
    margin-bottom: 5vh;
}

.entrepriseMissions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
}


.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}



.imgCnam{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;

}

p{
    font-family: 'Karla', sans-serif;
}

ul{
    font-family: 'Karla', sans-serif;
}