
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerName{
    display: flex;
   font-size: xxx-large;
    height: 10%;
    margin-left: 5vh;
}

.containerContent{
    display: flex;
    font-size: xx-large;
    height: 90%;
}