
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');


.containerIconsPresent{
    display: flex;
    flex-direction: row;

}
.icons{
width: 90%;
}

.containerIcon{
display: flex;
    flex-direction: column;
    justify-content: center;

}
.icon{
    width: 13%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;

}
.containerline{
    display: flex;
    height: 14%;
    width: 14%;
justify-content: center;
}
.line{
    border-left: 3px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerName{
    display: flex;
   font-size: xxx-large;
    height: 10%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

}

.h1Name{
    margin-bottom: 0;
    margin-top: 15vh;
}

.containerContent{
    display: flex;
    justify-content: flex-start;
    padding-right: 10vh;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    font-size: x-large;
    height: 90%;
    font-family: 'Inconsolata', monospace;

}