.container{

}

.title_cv{

}

.title{

}

.cv{

}

.content{

}

.formation{

}

.line {
    position: relative;
    width: 5mm;
    height: 100px;
    background: black;
}

.line:before,
.line:after {
    content: "";
    position: absolute;
    width: 5mm;
    height: 5mm;
    border-radius: 50%;
    background: black;
}

.line:before {
    top: -2.5mm;
}

.line:after {
    bottom: -2.5mm;


.containerAlternance{

}

.experience{

}

.titleHobbies{

}

.hobbies{

}

.hobbie{

}

