@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Notable&display=swap');
.h1parcours{
    color: black;
    font-size: 2.3rem;
    margin-left: 3vh;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.h1formation{
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}

.h1experience{
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}

.homePage{
    width: 30%;
    margin: 6vh;
    display: flex;
    justify-content: flex-end;
}

.between{
    width: 230%;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.containerFormationExperience{
    display: flex;
    flex-direction: row;
    margin: 3vh;
}

.Formations{
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
    margin-left: 3vh;
}

.formation{
    display: flex;
    flex-direction: row;
    font-family: 'Karla', sans-serif;
   border-top: #FE5D2C solid 1px;
    border-bottom: #FE5D2C solid 1px;
    opacity: 0.8;
    padding: 2vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 100%;
}

.diplome{
    display: flex;
    justify-content: center;
  flex-direction: column;
    align-items: center;
    width: 80%;
}


.h2formation{

}



.Experiences{
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
    margin-left: 3vh;
}

.experience{
    display: flex;
    flex-direction: row;
    font-family: 'Karla', sans-serif;
    border-top: #FE5D2C solid 1px;
    border-bottom: #FE5D2C solid 1px;
    opacity: 0.8;
    padding: 2vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 100%;
}



.h1Competence{
    color: black;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}
.icon{
    width: 190%;
}
.cvAndSynthese{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.btn {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.btn:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .btn {
        padding: 13px 50px 13px;
    }
}

span{
    font-size: 3vh;
    z-index: 3;
}
a{
    text-decoration: none;
    outline: none;
}
.cv{
    display: flex;
margin: 6vh;
}

.synthese{
    display: flex;
    margin: 6vh;
}
.containerCompetences{
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.competences{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.competence {
    border-radius: 4px;
    padding: 1vh;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0.6, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
    font-size: 1rem;
    position: relative;
    font-family: 'Karla', sans-serif;
    --progress-width: 0%;
    width: 25%;
}

    .competence::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: blue solid 3px;
        width: var(--progress-width);
        border-radius: 16px;
    }


.competenceIcon {
}

.competenceTitle {

    margin-left: 5vh;
}

.competenceBarContainer {
    width: 100%;

    border-radius: 10px;
    margin: 0 1rem;
}

.competenceBar {
    height: 10px;
    width: 100%;

    border-radius: 10px;
}

.competencePercentage {

    margin-right: 1rem;
}


.titleHobbies{
    color: black;
    margin-left: 6vh;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.hobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6vh;

    padding: 5vh;
}

.hobbie{
    font-family: 'Karla', sans-serif;
margin: 4vh;
    box-shadow: 0 0 10px rgba(0, 0, 0.6, 0.6);
    border-radius: 6px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vh;
    width: 20vh;
}
.hobbieName{
    display: flex;
justify-content: center;
    padding-top: 2vh;
    font-size: 1.2rem;
}

.hobbieIcon{

}
.hobbieIconImg{
    width: 100%;
}
