@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Karla&display=swap');

.h1parcours{
    color: black;
    font-size: 3rem;
    margin-left: 3vh;
}

.homePage{
    width: 30%;
    margin: 6vh;
    display: flex;
    justify-content: flex-end;
}

.between{
    width: 230%;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.containerFormationExperience{
    display: flex;
    flex-direction: row;
    margin: 3vh;
}

.Formations{
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
    margin-left: 3vh;
}

.formation{
    display: flex;
    flex-direction: row;
    font-family: 'Karla', sans-serif;
   border-top: #FE5D2C solid 1px;
    border-bottom: #FE5D2C solid 1px;
    opacity: 0.8;
    padding: 2vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 100%;
}

.diplome{
    display: flex;
    justify-content: center;
  flex-direction: column;
    align-items: center;
    width: 80%;
}


.h2formation{

}



.Experiences{
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
    margin-left: 3vh;
}

.experience{
    display: flex;
    flex-direction: row;
    font-family: 'Karla', sans-serif;
    border-top: #FE5D2C solid 1px;
    border-bottom: #FE5D2C solid 1px;
    opacity: 0.8;
    padding: 2vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 100%;
}



.h1Competence{
    color: #FE5D2C;
}
.icon{
    width: 190%;
}
.cvAndSynthese{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
z-index: 0;
}

.btn span {
    transition: all 0.3s;
    position: relative;
z-index: 2;
font-size: 3vh;
}

.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #3C3C3C;
    border-top: 2px solid #3C3C3C;
    transform: scale(0.1, 1);
}


.btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: #3C3C3C;

}

.btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


span{
    font-size: 3vh;
    color: white;
    z-index: 3;
}

.cv{
    display: flex;
margin: 6vh;
}

.synthese{
    display: flex;
    margin: 6vh;
}
.containerCompetences{
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.competences{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.competence {
    border-radius: 4px;
    padding: 1vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0.6, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
    font-size: 0.8rem;
    position: relative;
    font-family: 'Karla', sans-serif;
    --progress-width: 0%;
    width: 30%;
}

    .competence::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: blue solid 3px;
        width: var(--progress-width);
        border-radius: 16px;
    }


.competenceIcon {
}

.competenceTitle {

    margin-left: 5vh;
}

.competenceBarContainer {
    width: 100%;

    border-radius: 10px;
    margin: 0 1rem;
}

.competenceBar {
    height: 10px;
    width: 100%;

    border-radius: 10px;
}

.competencePercentage {

    margin-right: 1rem;
}


.titleHobbies{
    color: #FE5D2C;
    margin-left: 6vh
}

.hobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6vh;

    padding: 5vh;
}

.hobbie{
    font-family: 'Karla', sans-serif;
margin: 5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0.6, 0.6);
    border-radius: 6px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3vh;
    width: 20vh;
}
.hobbieName{

}

.hobbieIcon{

}
.hobbieIconImg{
    width: 100%;
}
