@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Karla&display=swap');

.containerTitleAP{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.h1TitleAp{
    color: #FE5D2C;
    font-size: 3rem;
    margin-left: 6vh;
}
.containeTitleAndAp{

}

.containeTitle{

}

.trait{

}

.containerAP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    font-family: 'Karla', sans-serif;
}

.AP{
    display: flex;
    flex-direction: row;
    border-radius: 1vh;


}

.content{
    padding-bottom: 1vh;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;

}

button{
    border-radius: 2px;
}
.containerContent{

}


