.containerTitleVT{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.h1TitleVT{
    color: #FE5D2C;
    font-size: 3rem;
    margin-left: 6vh;
    width: 170%;
}

.homePage{
    width: 20%;
    margin: 6vh;
    display: flex;
    justify-content: flex-end;

}


.between{
    width: 50%;
}
.button{
    display: flex;
justify-content: center;
    align-items: center;
    margin: 6vh;
    width: 20%;
    background-color: black;
    color: white;
    box-shadow: 6px 3px 3px gray;
}

a{
    text-decoration: none;
    
}

.containerVeille{
    background-color: #FE5D2C;
    color:white;
    justify-content: center;
    margin: 3vh;
    padding: 3vh;
    opacity: 0.6;
    border-radius:10px;
}
p{
    font-size: 20px;
}

img{
    width: 35%;
    border-radius: 5px;
}