@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

#root {
    padding: 0;
    margin: 0;
}

body {
        background-image: url("./../assets/fond.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Notable', sans-serif;


}
@media only screen and (max-width: 450px) {
    body {
        font-size: 10px;
        color: black;
    }

}